h1, h5 {
    text-align: center;
}

.titles {
    padding: 30px 0;
}

.form-area {
    background-color: aliceblue;
}

#add-meme-btn {
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .img-container {
    width: 500px;
    position: absolute; 
} */

img{
    width: 500px;
    /* position: absolute; */
    border-radius: 20px;
}

h2 {
    position: relative;
    left: 190px;
    color: white;
    font-size: 50px;
}

h3 {
    position: relative;
    top: 20px;
    color: white;
    font-size: 50px;
}

img:hover {
    width: 530px;
    cursor: pointer;
    opacity: 0.5;
}
